@charset "utf-8";
/* CSS Document */
.banner-advertisers {height:520px;background:url(../images/banner-advertisers.png) no-repeat center 0;}
	section.m-one {
    width: 100%;
}

img{
	border:0;
}

.measurable{
    width:100%;
    background:#fff;
    height:1522px;
}
.measurable .one-title{
    width:580px;
    height:44px;
    position:relative;
    top:90px;
    margin:0 auto;
    font-size:48px;
    line-height:48px;
    text-align:center;
}
.measurable .one-content{
    width:1200px;
    height:540px;
    margin: 0 auto;
}
.one-content img{
    float:left;
    margin-top:180px;
    padding-bottom:90px;
    padding-left:12px;
}
.one-content .r-content{
    float:right;
    margin-top: 250px;
    padding-left: 40px;
    width:500px;
    height:196px;
    font-size:30px;
    color:#959696;
    position:relative;
}

.l-content{
    position:absolute;
    float:left;
    width:658px;
    height:226px;
    margin:148px 0 0 0px;
    text-indent:28px;
    font-size:14px;
    line-height:30px;
    text-align:left;
}
.cooperate {
    font-size: 18px;
    text-align: center;
    color: #a2a3a3;
    line-height: 55px;
    border: 1px solid;
    width: 168px;
    height: 55px;
    margin: 0 auto;
    margin-top: -78px;
    margin-bottom: 90px;
}
.r-content span{
    font-size:40px;
    color:#3671cf;
}
.r-content .bot{
    position:absolute;
    bottom:70px;
    right:0px;
}
.r-content .cooperate{
    color: #8f8f8f;
    border: 1px solid #8f8f8f;
    margin-top: 34px;
    margin-left:40px;
}
.measurable .m-two{
    width:1200px;
    height:300px;
    margin:0 auto;
    background:#3671cf;
    position:relative;
}
.measurable .m-two img {
    width: 725px;
    height: 299px;
    top: 2px;
    position: absolute;
    margin-left: 475px;
}
.measurable .m-two .l-content{
    font-size:30px;
    line-height:45px;
    color:#fff;
    position:absolute;
    top:-50px;
    left:-4px;
}
.m-blue{
    width:100%;
    background:#3671cf;
    margin-top:130px;
}
section.m-one {
    width: 100%;
}
.l-content span{
    font-size:40px;
    color:#93ec67;
    position:relative;
}
section.m-three {
    width: 100%;
}
.three-content{
    width: 1200px;
    margin: 0 auto;
}
.three-content img{
    position: relative;
    top: 115px;
    left: 0px;
}
.three-content .r-content{
    font-size: 30px;
    color: #959696;
    position: relative;
    top: 150px;
    float: right;
}
.r-content span{
    font-size:40px;
    color:#3671cf;
}
.three-content .cooperate{
    margin-left:0px;
}
.process_container{
    width:100%;
    height:900px;
}
.process .process_container img{
    width:100%;
    height:900px;
    margin:0 auto;
    position:relative;
}
.process-title{
    margin: 0 auto;
    position: relative;
    bottom: 820px;
    width: 526px;
    font-size: 48px;
    color: #444444;
}
.process-title span{
    font-size:48px;
    color:#3671cf;
    position:relative;
}
.process_container .process-content{
    width: 1200px;
    height: 144px;
    position: relative;
    top: -760px;
    margin: 0 auto;
}
.process-content .process_img{
    background-image: url('../images/process.png');
    background-repeat: no-repeat;
    height: 142px;
    width: 144px;
    float: left;
    margin-top: 0px;
    border: 1px solid #3671cf;
}
.process-content{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
.process-content ul{
    width: 100%;
    overflow: hidden;
    margin-bottom: 10px;
}
.process-content li{
    height: 144px;
    float:left;
    margin:0 auto;
}
.process-content li .example_img{
    display: block;
    width: 100px;
    height: 100px;
    margin: 17px auto 0;
}
.process-content li .process_name{
    display: block;
    padding: 100px 0;
    width: 144px;
    height: 44px;
    text-align: center;
    font-size: 18px;
    color: #444;
}
.process-content .icon{
    font-size:36px;
    line-height:30px;
    color:#3671cf;
    height:144px;
    width:67px;
    height:144px;
    float:left;
    padding: 60px 0 0 20px;
}
.process-content li .apply{
    color:#fff;
}
.process-content li .case1{
    background: url("../images/process.png") no-repeat 0px -1px;
    cursor: pointer;
}
.process-content li .case2{
    background: url("../images/process.png") no-repeat -212px -1px;
    cursor: pointer;
}
.process-content li .case3{
    background: url("../images/process.png") no-repeat -424px -1px;
    cursor: pointer;
}
.process-content li .case4{
    background: url("../images/process.png") no-repeat -636px -1px;
    cursor: pointer;
}
.process-content li .case5{
    background: url("../images/process.png") no-repeat -848px -1px;
    cursor: pointer;
}
.process-content li .case6{
    background: url("../images/process.png") no-repeat -1054px -1px;
    cursor: pointer;
}


