<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" href="images/reset.css">
<link rel="stylesheet" href="images/public.css">
<link rel="stylesheet" href="images/bootstrap.min.css">
<link rel="stylesheet" href="images/styles.css">
<title>广告商_海森广告</title>
<link rel="shortcut icon" href="images/icon_logo.png">
<link rel="icon" type="image/png" href="images/icon_logo.png">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="renderer" content="webkit">
<style>
    a {
        text-decoration: none;
    }
    a:hover {
        text-decoration: none;
    }
</style>
</head>
<body>
<!-- Header -->
<div class="header">
    <div class="wrapper">
        <a href="index.html" class="logo"></a>
        <div class="menu">
            <div class="nav">
                <ul>
                    <li class="nav-item"><a href="index.html" class="">首页</a></li>
                    <li class="nav-item"><a href="affiliate.html" class="">网站主</a></li>
                    <li class="nav-item"><a href="advertiser.html" class="active">广告商</a></li>
                    <li class="nav-item"><a href="help.html" class="">常见问题</a></li>
                    <li class="nav-item"><a href="contact.html" class="">联系联盟</a></li>
                    <li class="nav-item"><a href="register.html" class="">在线申请</a></li>
                    <li class="nav-item"><a href="login.html" class="">登陆中心</a></li>
                </ul>
                <!--移动的滑动-->
                    <!----<div class="move-bg"></div>-->
                <!--移动的滑动 end-->
            </div>
        </div>
    </div>
</div>

<div class="subbanner subbanner_advertiser">
    <div class="wrapper">
        <div class="sub_obj_a cd-headline letters scale">
            <span class="cd-words-wrapper" style="width: 421px;">
                <b class="is-visible"><i class="out">广</i><i class="out">告</i><i class="out">主</i><i class="out">&nbsp;</i><i class="in">-</i><i class="in">&nbsp;</i><i class="in">效</i><i class="in">果</i><i class="in">好</i><i class="in">是</i><i class="in">我</i><i class="in">们</i><i class="in">共</i><i class="in">同</i><i class="in">的</i><i class="in">目</i><i class="in">的</i></b>
                <b><i class="in">广</i><i class="in">告</i><i class="in">主</i><i class="in">&nbsp;</i><i class="out">-</i><i class="out">&nbsp;</i><i class="out">效</i><i class="out">果</i><i class="out">好</i><i class="out">是</i><i class="out">我</i><i class="out">们</i><i class="out">共</i><i class="out">同</i><i class="out">的</i><i class="out">目</i><i class="out">的</i></b>
                <b><i class="out">广</i><i class="out">告</i><i class="out">主</i><i class="out">&nbsp;</i><i class="out">-</i><i class="out">&nbsp;</i><i class="out">效</i><i class="out">果</i><i class="out">好</i><i class="out">是</i><i class="out">我</i><i class="out">们</i><i class="out">共</i><i class="out">同</i><i class="out">的</i><i class="out">目</i><i class="out">的</i></b>
            </span>
        </div>
        <div class="sub_obj_b cd-headline letters scale">
            <span class="cd-words-wrapper" style="width: 331px;">
                <b class="is-visible"><i class="in">A</i><i class="in">d</i><i class="in">v</i><i class="in">e</i><i class="in">r</i><i class="in">t</i><i class="in">i</i><i class="in">s</i><i class="in">e</i><i class="in">r</i><i class="out">&nbsp;</i><i class="out">-</i><i class="out">&nbsp;</i><i class="out">G</i><i class="out">o</i><i class="out">o</i><i class="out">d</i><i class="out">&nbsp;</i><i class="out">E</i><i class="out">f</i><i class="out">f</i><i class="out">e</i><i class="out">c</i><i class="out">t</i><i class="out">&nbsp;</i><i class="out">I</i><i class="out">s</i><i class="out">&nbsp;</i><i class="out">O</i><i class="out">u</i><i class="out">r</i><i class="out">&nbsp;</i><i class="out">C</i><i class="out">o</i><i class="out">m</i><i class="out">m</i><i class="out">o</i><i class="out">n</i><i class="out">&nbsp;</i><i class="out">P</i><i class="out">u</i><i class="out">r</i><i class="out">p</i><i class="out">o</i><i class="out">s</i><i class="out">e</i></b>
                <b><i class="out">A</i><i class="out">d</i><i class="out">v</i><i class="out">e</i><i class="out">r</i><i class="out">t</i><i class="out">i</i><i class="out">s</i><i class="out">e</i><i class="out">r</i><i class="out">&nbsp;</i><i class="out">-</i><i class="out">&nbsp;</i><i class="out">G</i><i class="out">o</i><i class="out">o</i><i class="out">d</i><i class="out">&nbsp;</i><i class="out">E</i><i class="out">f</i><i class="out">f</i><i class="out">e</i><i class="out">c</i><i class="out">t</i><i class="out">&nbsp;</i><i class="out">I</i><i class="out">s</i><i class="out">&nbsp;</i><i class="out">O</i><i class="out">u</i><i class="out">r</i><i class="out">&nbsp;</i><i class="out">C</i><i class="out">o</i><i class="out">m</i><i class="out">m</i><i class="out">o</i><i class="out">n</i><i class="out">&nbsp;</i><i class="out">P</i><i class="out">u</i><i class="out">r</i><i class="out">p</i><i class="out">o</i><i class="out">s</i><i class="out">e</i></b>
                <b><i class="out">A</i><i class="out">d</i><i class="out">v</i><i class="out">e</i><i class="out">r</i><i class="out">t</i><i class="out">i</i><i class="out">s</i><i class="out">e</i><i class="out">r</i><i class="in">&nbsp;</i><i class="in">-</i><i class="in">&nbsp;</i><i class="in">G</i><i class="in">o</i><i class="in">o</i><i class="in">d</i><i class="in">&nbsp;</i><i class="in">E</i><i class="in">f</i><i class="in">f</i><i class="in">e</i><i class="in">c</i><i class="in">t</i><i class="in">&nbsp;</i><i class="in">I</i><i class="in">s</i><i class="in">&nbsp;</i><i class="in">O</i><i class="in">u</i><i class="in">r</i><i class="in">&nbsp;</i><i class="in">C</i><i class="in">o</i><i class="in">m</i><i class="in">m</i><i class="in">o</i><i class="in">n</i><i class="in">&nbsp;</i><i class="in">P</i><i class="in">u</i><i class="in">r</i><i class="in">p</i><i class="in">o</i><i class="in">s</i><i class="in">e</i></b>
            </span>
        </div>
    </div>
</div>
<div class="subprocess">
    <div class="wrapper">
        <ul>
            <li class="step"><img src="images/step01.png"></li>
            <li class="arrow"><img src="images/icon_arrow.png"></li>
            <li class="step"><img src="images/step02.png"></li>
            <li class="arrow"><img src="images/icon_arrow.png"></li>
            <li class="step"><img src="images/step03.png"></li>
            <li class="arrow"><img src="images/icon_arrow.png"></li>
            <li class="step"><img src="images/step04.png"></li>
        </ul>
    </div>
</div>
<div class="content_advertiser">
    <div class="wrapper">
        <div class="list list01">
            <img src="images/itemimg01.png">
            <dl>
                <dt>精准挖掘目标受众群体</dt>
                <dd>海量的广告请求匹配，深度的数据挖掘分析，帮助广告主将广告投放到目标用户眼前，实现广告效果的最优化。</dd>
            </dl>
        </div>
        <div class="list list02">
            <img src="images/itemimg02.png">
            <dl>
                <dt>多样化的广告展示样式</dt>
                <dd>支持banner、插屏广告、弹窗广告等多种广告展现样式，强调广告内容与媒体属性的匹配度，形成一致的用户体验</dd>
            </dl>
        </div>
    </div>
</div>

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="footer-links">
                    <ul class="footer-group">
                        <li><a href="index.html">首页</a></li>
                        <li><a href="affiliate.html">网站主</a></li>
                        <li><a href="advertiser.html">广告主</a></li>
                        <li><a href="help.html">常见问题</a></li>
                        <li><a href="register.html">在线申请</a></li>
                        <li><a href="login.html">登陆中心</a></li>
                    </ul>
                </div>
                <p>Copyright © 2025-2027 海森广告 版权所有 </p>
            </div>
        </div>
    </div>
</footer>

<script type="text/javascript" src="images/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="images/jquery.pngFix.pack.js"></script>
<script type="text/javascript" src="images/placeholders.jquery.js"></script>
<script type="text/javascript" src="images/jquery.movebg.js"></script>
<script type="text/javascript" src="images/slide.js"></script>
<!--[if !IE 9]><!-->
<script type="text/javascript" src="images/main.js"></script>
<!--<![endif]-->
<script type="text/javascript" src="images/public.js"></script>
</body></html>
